*{
	margin:0px;
	padding:0px;
	border:0px;
}/* CSS Document */
body{
	font-family:"宋体";
	font-size:13px;
	color:#000;
	background-color:#fff;
}
a:link,a:visited{
	color:#333;
	text-decoration:none;
	font-weight:normal;
}
a:active,a:hover{
	color:#fff;
	text-decoration:underline;
}
#wrap{
	width:984px;
	height:500px;
	background:url(bgpic.jpg) no-repeat;
	margin:0 auto;
}

#top{
	float:right;
    width:150px;
	font-family:"黑体";
	text-align:right;
	margin-top:10px;
	margin-bottom:20px;
	padding-right:20px;
}
#top span{
	padding-left:5px;
	padding-right:5px;
}

#nav{
	width:984px;
	float:left;
    overflow:hidden;
}
#nav_logo{
	float:left;
	width:250px;
	height:60px;
	background:url(logo.gif) no-repeat;
	margin-left:15px;
}
#nav_menu{
	height:36px;
	margin:10px 0px 0px 30px;
	float:left;
}
#nav_menu_head{
	float:left;
	width:20px;
	height:36px;
	background:url(nav_menu_head.gif) no-repeat;
}
#nav_menu_mid{
	float:left;
	width:580px;
	height:36px;
	background:url(nav_bg.jpg) repeat-x;
}
#nav_menu_mid ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
#nav_menu_mid li{
	float:left;
	margin-top:10px;
	padding-left:11px;
}
#nav_menu_mid a{
	font-family:"黑体";
	font-size:15px;
	color:#fff;
}
#nav_menu_tail{
	float:left;
	width:20px;
	height:36px;
	background:url(nav_menu_tail.gif) no-repeat;
}
#main{
	float:left;
	width:984px;
	height:280px;
	margin-top:15px;
}
#main_left{
	float:left;
	width:320px;
	overflow:auto;
	margin-left:10px;
}
#main_left_top{
	background:url(main_left_top_bg.jpg) no-repeat;
	height:35px;
}
#main_left_top h3{
	height:40px;
	font-size:16px;
	font-weight:bold;
	color:#105cb6;
	padding-left:20px;
	padding-top:10px;
}
.news_list *{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}
.news_list li{
	float:left;
	padding-left:20px;
	width:300px;
	height:20px;
	overflow:hidden;
}
.news_list li a{
	width:200px;
	float:left;
}
.news_list li a:hover{
	text-decoration:none;
	color:#f32600;
}
.news_list li span{
	float:left;
	width:75px;
	color:#999999;
}
#main_left_bottom{
	float:left;
	width:310px;
	height:80px;
	margin-top:20px;
	margin-left:5px;
	overflow:hidden;
}
#main_mid{
	float:left;
	margin-left:5px;
}
#main_mid_top{
	width:350px;
	height:114px;
	margin-top:20px;
	margin-bottom:20px;
	background:url(main_mid_top.gif) no-repeat;
}
#main_mid_bottom{
	width:350px;
	height:105px;
}
#main_mid_bottom ul li{
	float:left;
	margin-left:15px;
	display:inline;
}
#main_mid_bottom ul li a{
	display:block;
	width:150px;
	height:100px;
	text-decoration:none;
	text-align:center;
	overflow:hidden;
}
#main_mid_bottom ul li a strong{
	font-size:16px;
	font-family:"黑体";
	line-height:15px;
	font-weight:100;
	color:#333;
	overflow:hidden;
}
#main_mid_bottom span{
	display:block;
	font-family:"Arial Black",Gadget,sans-serif;
	font-size:10px;
	text-align:left;
	color:#999;
}
#main_mid_bottom a:hover strong{
	color:#39f;
}
#main_right{
	float:left;
	width:275px;
	height:260px;
	margin-left:5px;
    background:url(main_right_bg.jpg) no-repeat;
	}
#main_right h3{
	height:20px;
	font-family:"黑体";
	font-size:15px;
	color:#105cb6;
	padding-left:20px;
	padding-top:15px;
}
#main_right p{
	text-indent:2em;
	line-height:18px;
	padding-left:13px;
	padding-right:13px;
}
#main_right a:hover{
	text-decoration:none;
	color:#f32600;
}

#footer{
	clear:both;
	height:65px;
	margin:0;
	padding:10px;
	background:url(footer_bg.gif) repeat-x;
	font-size:13px;
	color:#666;
	text-align:center;
}