*{
	margin:0px;
	padding:0px;
}
body{
	font-family:"微软雅黑"；
	font-size:14px;
	background:#dbdbf8;
}
a:link,a:visited{
	color:#333;
	text-decoration:none;
	font-weight:normal;
}
a:active,a:hover{
	color:#F0F;
	text-decoration:underline;
}
#top{
    line-height:20px;
    float:right;
    text-align:left;
	margin:10px 100px 0px 0px;
}
#top a{
	text-decoration:none;
	color:#000;
}
#top a:hover{
	color:#C09;
	text-decoration:underline;
}
p1{
	position:relative;
	left:40%;
	top:300px;
	padding:2px 5px;
	overflow:hidden;
	width:300px;
}
p2{
	position:relative;
	left:38%;
	top:290px;
	padding:2px 5px;
	overflow:hidden;
	width:300px;
}
	

