


body{
    background:url(../picture/service.jpg)no-repeat;
	background-size:100%;
}


#top{
    line-height:20px;
    float:right;
    text-align:left;
	margin:0px 100px 0px 0px;
}
#top a{
	text-decoration:none;
	color:#000;
}
#top a:hover{
	color:#C09;
	text-decoration:underline;
}

	#sub_wrap{
		width:984px;
		margin:0 auto;
	}
	#sub_main{
		float:left;
		width:984px;
		height:auto;
		margin-top:15px;
	}
	#sub_main a{
	text-decoration:none;
	color:#8C4600;
}
	#sub_main_left{
		float:left;
		width:180px;
		height:300px;
		margin-left:25px;
	}
	#sub_main_left_top{
		width:180px;
		height:80px;
	}
	#sub_main_left_top h3{
		height:30px;
		font-family:"黑体";
		font-size:20px;
		color:#39f;
		text-align:center;
		padding-top:25px;
	}
	#sub_main_left_top h3 span{
		color:#666;
		margin-left:5px;
		font-size:18px;
	}
	#sub_main_left_bottom{
		width:180px;
		height:auto;		
	}
	#sub_main_left_bottom ul{
		padding:0 25px;
		line-height:30px;
	}
	#sub_main_left_bottom ul li{
		list-style:none;
		text-align:center;
		border-bottom:1px dashed #ccc;
	}
	#sub_main_left_bottom ul a:hover{
		color:#39f;
		text-decoration:none;
	}
	#sub_main_left_behind{
		height:25px;
		width:180px;
	}
	#sub_main_main{
		float:left;
		height:500px;
		margin-left:10px;
	}
	#sub_main_main_top{
		width:720px;
		height:55px;
	}
	#sub_main_main_top img{
		margin-top:20px;
		margin-left:30px;
	}
	#sub_main_main_top span{
		color:#666;
		font-family:"黑体";
		font-size:14px;
		padding-left:10px;
	}
	#sub_main_main_content{
		width:720px;
		height:auto;
	}
	
	
	.sub_main_main_content_list{
		font-size:14px;
		padding-top:20px;
		padding-left:50px;
		line-height:30px;
		list-style:square;
		color:#8C4600;
	}
	#sub_main_main_content li{
		border-bottom:1px dashed #ccc;
	}
	.sub_main_main_content_list a:hover{
		color:#f00;
		text-decoration:none;
	}
#footer{
	clear:both;
	margin:0 100px 0 100px;
	position:relative;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#666;
	height:30px;
}
	
	
	
	
	
	
	