/* CSS Document */
body{
	background:#6CF;
}

*{
	margin:0px;
	padding:0px;
	border:0px;

	
}
body{
	font-family:"宋体";
	font-size:15px;
	color:#000;
}
#wrap{
	width:984px;
	margin:0 auto;
	background-color:#000;
}
#head{
	width:984px;
	height:120px;
	color:#ccc;
}
#head_left{
	float:left;
	width:350px;
	height:50px;
	margin-top:35px;
	margin-left:45px;
}
#head_left h3{
	font-size:20px;
	color:#fff;
	}
#head_left p{
	font-size:10px;
	color:#999;
}
#head_right{
	float:left;
	width:550px;
	height:50px;
	margin-top:25px;
	margin-right:30px;
}
#head_right h3{
	color:#fff;
	font-size:16px;
}
#head_right p{
	font-size:10px;
	color:#666;
}
#head_right h2{
	float:right;
	font-size:10px;
	color:#999;
}
#main{
	float:left;
	width:964px;
	margin-left:10px;
	margin-right:10px;
	background:#fff;
}
#main_left{
	float:left;
	width:550px;
	margin-top:30px;
	margin-left:20px;
}
#main_left_top{
	float:left;
	width:550px;
	margin-bottom:25px;
}
#main_left_top_left{
	float:left;
	width:30px;
	margin-left:5px;	
}
#main_left_top_middle{
	float:left;
	width:5px;
	margin-left:5px;	
}
#main_left_top_right{
	float:left;
	width:490px;
	margin-left:10px;	
}
#main_left_top_right img{
	margin-top:10px;
	margin-right:10px;
}
#main_left_top_right p{
	font-size:15px;
	color:#000;
	padding-top:10px;
}
#main_left_top_right a{
	float:right;
	font-size:12px;
	color:#ccc;
}
#main_left_top_right h2{
	float:right;
	font-size:12px;
}
#main_left_middle{
	float:left;
	width:550px;
	margin-bottom:15px;	
}
#main_left_middle_left{
	float:left;
	width:30px;
	margin-left:5px;	
}
#main_left_middle_middle{
	float:left;
	width:5px;
	margin-left:5px;
	margin-bottom:25px;	
}
#main_left_middle_right{
	float:left;
	width:490px;
	margin-left:10px;	
}
#main_left_middle_right img{
	margin-top:10px;
	margin-right:10px;
}
#main_left_middle_right p{
	font-size:15px;
	color:#000;
	padding-top:10px;
}
#main_left_middle_right a{
	float:right;
	font-size:12px;
	color:#ccc;
}
#main_left_middle_right h2{
	float:right;
	font-size:12px;
}
#main_left_bottom{
	float:left;
	width:550px;
	margin-bottom:25px;
}
#main_left_bottom_left{
	float:left;
	width:30px;
	margin-left:5px;	
}
#main_left_bottom_middle{
	float:left;
	width:5px;
	margin-left:5px;
	margin-bottom:25px;	
}
#main_left_bottom_right{
	float:left;
	width:490px;
	margin-left:10px;	
}
#main_left_bottom_right img{
	margin-top:10px;
	margin-right:10px;
}
#main_left_bottom_right p{
	font-size:15px;
	color:#000;
	padding-top:10px;
}
#main_left_bottom_right a{
	float:right;
	font-size:12px;
	color:#ccc;
}
#main_left_bottom_right h2{
	float:right;
	font-size:12px;
}
#main_right{
	float:right;
	width:340px;
	margin-top:50px;
	margin-left:20px;
}
#main_right_top{
	width:340px;
	margin-left:5px;
	margin-bottom:40px;
}
#main_right_mid{
	width:340px;
	margin-left:5px;
	margin-bottom:50px;
}
#main_right_mid p a{
	padding:5px;
	color:#999;
}
#main_right_mid ul{
	list-style:none;
	text-indent:2em;
	padding:0px;
}
#main_right_mid ul li{
	text-decoration:none;
	padding:5px;
}
#main_right_mid ul li a{
	text-decoration:none;
	color:#999;
}
#main_right_mid ul li a:hover{
	text-decoration:underline;
	color:#f09;
}
#main_right_bottom{
	width:340px;
	margin-left:5px;
}
#main_right_bottom p a{
	padding:5px;
	color:#999;
}
#main_right_bottom ul{
	list-style:none;
	text-indent:2em;
	padding:0px;
}
#main_right_bottom ul li{
	text-decoration:none;
	padding:5px;
}
#main_right_bottom ul li a{
	text-decoration:none;
	color:#999;
}
#main_right_bottom ul li a:hover{
	text-decoration:underline;
	color:#f09;
}
#footer{
	text-align:center;
	color:#ccc;
}